body{
    font: 20px Arial, sans-serif;
}

.barra{
    position: absolute;
    right: 10%;
}

.navbar-brand{
    margin-left: 10%;
}

.navbar{
    background-color: #81F7D8;
}

#profile{
    border-radius: 50px;
}

.quemSomos{
    background-color: #8181F7;
    color: white;
}

.margin{
    padding-top: 30px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: #58FAF4;
    padding-bottom: 0;
}

.servicos{
    background-color: #DF907F;
    padding-bottom: 0;
}

.bg-footer{
    background-color: black;
    color: white;
}

.parceiros_tamanho{
    width: 100%;
    height: 80%; 
}